@{
    Layout = "_AdminLayout";
}
@model List<EUser>


<div class="container">
    <h2 class="pt-4 pb-4">
        Quản lý người dùng
    </h2>
    <ul class="nav nav-tabs border-4 mb-4">
        <li class="nav-item me-0">
            <a class="nav-link active" data-bs-toggle="tab" href="#home"><b>Khách hàng</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#menu1"><b>Quản trị viên</b></a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="home">
            
            <div class="">
                <a class="btn btn-primary rounded-2 rounded-bottom-0" asp-action="Create">
                    Thêm người dùng <i class="bi bi-person-add fs-2"></i>
                </a>
            </div>
            <table class="table">
                <thead>
                <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Họ tên
                        </th>
                        <th>
                            Điện thoại
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                        <th>
                            Ngày sinh
                        </th>
                        <th>
                            Vai trò
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>
                            thao tác
                        </th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var u in Model.Where(u => u.EUserRole == "Customer"))
                    {
                        <tr>
                            <td>@u.EUserId</td>
                            <td>@u.Email</td>
                            <td>@u.EUserName</td>
                            <td>@u.Phone</td>
                            <td>@u.EUserAddress</td>
                            <td>@u.Birthday.ToString("dd/MM/yyyy")</td>
                            <td>@u.EUserRole</td>
                            <td>
                                @if (u.IsConfirm == true)
                                {
                                    <span>Đã xác thực</span>
                                }
                                else
                                {
                                    <span>Chưa xác thực</span>
                                }
                            </td>
                            <td>
                                <a asp-route-uId="@u.EUserId" asp-action="Edit" class="form-control rounded btn btn-info fs-6 mb-2"><i class="bi bi-pencil-square"></i></a>
                                <a asp-route-uId="@u.EUserId" asp-action="Delete" class="form-control rounded btn btn-danger fs-6"><i class="bi bi-trash3-fill"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane container fade" id="menu1">
            <div class="">
                <a class="btn btn-primary rounded-2 rounded-bottom-0" asp-action="Create">
                    Thêm người dùng <i class="bi bi-person-add fs-2"></i>
                </a>
            </div>
            <table class="table">
                <thead>
                <th>
                    Id
                </th>
                <th>
                    Email
                </th>
                <th>
                    Họ tên
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>
                    Ngày sinh
                </th>
                <th>
                    Vai trò
                </th>
                <th>
                    Trạng thái
                </th>
                <th>
                    thao tác
                </th>
                </thead>
                <tbody>
                    @foreach (var u in Model.Where(u => u.EUserRole == "Admin"))
                    {
                        <tr>
                            <td>@u.EUserId</td>
                            <td>@u.Email</td>
                            <td>@u.EUserName</td>
                            <td>@u.EUserAddress</td>
                            <td>@u.Birthday.ToString("dd/MM/yyyy")</td>
                            <td>@u.EUserRole</td>
                            <td>
                                @if (u.IsConfirm == true)
                                {
                                    <span>Đã xác thực</span>
                                }
                                else
                                {
                                    <span>Chưa xác thực</span>
                                }
                            </td>
                            <td>
                                <a asp-route-uId="@u.EUserId" asp-action="Edit" class="form-control rounded btn btn-info fs-6 mb-2"><i class="bi bi-pencil-square"></i></a>
                                <a asp-route-uId="@u.EUserId" asp-action="Delete" class="form-control rounded btn btn-danger fs-6"><i class="bi bi-trash3-fill"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>